* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: snow;
  transition: background 0.5s;
}
.container.dark {
  background: #444;
}
/* 다크모드 */
.toggle-btn {
  width: auto;
  height: auto;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  color: #222;
  user-select: none;
}
.toggle-btn.dark {
  color: white;
}
.toggle-btn p {
  margin-right: 10px;
}
.toggle-btn-icon {
  font-size: 30px;
}
@media (max-width: 836px) {
  .toggle-btn {
    color: white;
    top: 15px;
  }
  .toggle-btn.dark {
    color: white;
  }
}
/* ----------- */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar {
  width: 60px;
  min-width: 60px;
  height: 100%;
  background-color: #222;
}
.navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-size: 26px;
}
.navi li {
  margin: 10px 0;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.box {
  margin: 0 auto;
  width: 80%;
  min-width: 800px;
  height: 100vh;
  align-items: center;
  display: flex;
}

/* 날씨api */
.box-left {
  background-color: rgb(153, 189, 255);
  width: 50%;
  height: 70%;
  padding: 50px;
}
.box-left.dark {
  background-color: #222;
}
.box-select {
  width: 120px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  outline: 0;
  border-radius: 5px;
  margin-bottom: 50px;
}
.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #222;
}
.weather.dark {
  color: white;
}
.weather-icon {
  font-size: 100px;
  margin-bottom: 30px;
}
.weather-now {
  font-size: 24px;
  margin-bottom: 10px;
}
/* ai답변 */
.box-right {
  background-color: rgb(190, 213, 255);
  width: 50%;
  height: 70%;
  padding: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}
.box-right.dark {
  color: white;
  background-color: #333;
}

@media (max-width: 836px) {
  .container {
    height: auto;
  }
  .wrapper {
    flex-direction: column;
    height: auto;
  }
  .sidebar {
    height: 60px;
    width: 100%;
  }
  .navi {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 10px;
  }
  .navi li {
    margin: 0 10px;
  }
  .box {
    flex-direction: column;
    min-width: 380px;
    margin: 50px auto;
  }
  .box-left,
  .box-right {
    width: 100%;
    padding: 20px;
  }
  .box-select {
    margin-bottom: 30px;
  }
  .main {
    height: auto;
  }
}
